.title {
    font-family: "Varela Round";
    font-weight: 400;
    font-style: normal;
    background-color: aqua;
}

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');